<%- include('includes/_head.ejs') %>

<body>
    <!-- Navbar -->
    <%- include('includes/_navbar.ejs') %>


  <!-- Showcase -->
  <%- include('includes/_showcase.ejs') %>


  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Listings</h3>
      <div class="row">

        <!-- Listing 1 -->
        <%- include('includes/_listing_single.ejs') %>
        <!-- Listing 2 -->
        <%- include('includes/_listing_single.ejs') %>
        <!-- Listing 3 -->
        <%- include('includes/_listing_single.ejs') %>
        
      </div>
    </div>
  </section>


    <!-- Services -->
    <%- include('includes/_services.ejs') %>

    <!-- Bottombar -->
    <%- include('includes/_bottombar.ejs') %>

    <!-- Footer -->
    <%- include('includes/_footer.ejs') %>