<%- include('includes/_head.ejs') %>

<body>

  <!-- Navbar -->
  <%- include('includes/_navbar.ejs') %>

  <%- include('includes/_showcase_inner.ejs') %>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Browse Listings</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">

        <%- include('includes/_listing_single.ejs') %>
        <%- include('includes/_listing_single.ejs') %>
        <%- include('includes/_listing_single.ejs') %>
        <%- include('includes/_listing_single.ejs') %>
        <%- include('includes/_listing_single.ejs') %>
        <%- include('includes/_listing_single.ejs') %>

      </div>

      <%- include('includes/_pagination.ejs') %>
    </div>
  </section>

  
    <!-- Bottombar -->
    <%- include('includes/_bottombar.ejs') %>

  <!-- Footer -->
  <%- include('includes/_footer.ejs') %>